ion-toolbar {
  // TODO test transparent and fullscreen
  --background: transparent;
  --border-color: transparent;
}

.swiper-slide {
  display: block;
}

.slide-title {
  margin: 2.0rem 1.5rem;
  font-family: 'Doppio One', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--ion-color-primary);

}

.slide-image {
  max-height: 50%;
  max-width: 60%;
  margin: 36px 0;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: #60646b;

  b {
    color: #000000;
  }
}
